body {
  background-color: #a49f9f21;
}

.content-body-wrapper {
  min-height: 300px;
  float: right;
  width: 77%;
  padding-right: 65px;
}

.filter-project-header {
  background-color: #1890ff;
  margin-bottom: 24px;
  margin-left: -18px;
  margin-right: -18px;
  margin-top: -18px;
  padding: 13px;
  padding-left: 20px;
  color: #4f5153;
}

.filter-project-header h4 {
  font-size: 17px;
}

.filter-project-wrapper {
  background-color: #f6f6f9;
  margin-top: 20px;
  min-height: 100px;
  padding: 20px;
}

.filter-project-button {
  margin-bottom: 17px;
}

.form-left-section {
  width: 50%;
}

.form-right-section {
  width: 50%;
}

.form-left-section-label {
  width: 25%;
  margin-bottom: 40px;
}

.form-left-section-field {
  width: 70%;
}

.form-right-section-label {
  width: 25%;
}

.puchasing-separate {
  padding-top: 10px;
}

.btn-tab-zone {
  background-color: #0050b3;
  border-radius: 5px;
  font-size: 14px;
}

.btn-tab-zone2 {
  font-size: 13px;
  background-color: white;
  color: #0050b3;
  border-color: #0050b3;
  border-radius: 7px;
}

.table-wrapper {
  margin-top: 21px;
}

td {
  background-color: #f6f6f9 !important;
}

.pagination-status {
  position: relative;
  top: 6px;
}

.flow-section-zone {
  width: 114px;
}

.flow-indicator-wrapper {
  margin-top: 24px;
  margin-bottom: 3px;
}

.circle {
  border-radius: 50%;
  width: 42px;
  height: 42px;
  padding: 10px;
  background: #e3e4e4;
  color: #666687;
  text-align: center;
  font-weight: bold !important;
  font: 17px Arial, sans-serif;
  margin: auto;
  padding-top: 10px;
  cursor: pointer;
}

.circle.active {
  background: #1967b2;
  color: #ffff;
}

.section-zone-text {
  text-align: center;
  font-size: 12px;
  line-height: 16px;
}

.flow-line-zone {
  min-width: 100px;
  border-width: 15px !important;
  margin-left: -27px;
  margin-right: -27px;
}

.flow-line-zone > hr {
  border-width: 3px;
}

.form-wrapper-section {
  width: 100%;
  background-color: white;
  min-height: 300px;
  margin-top: 22px;
  margin-bottom: 30px;
  padding: 23px;
}

.form-field-label {
  width: 16%;
  text-align: right;
  margin-right: 20px;
}

.form-field-fieldzone {
  width: 70%;
}

.form-group {
  margin-top: 20px;
}

.button-section > button {
  float: right;
  margin-top: 24px;
  border-style: solid;
  border-color: #0050b3;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
}

.text-area-control {
  color: #c9c2c2;
  font-size: 14px;
  margin-top: 4px;
}

.button-section {
  position: relative;
  right: 11%;

  button.btn.btn-primary {
    margin-right: 9px;
  }
}

.last-updatedfield {
  color: #bfbebe;
  text-align: right;
}

.form-field-fieldzone.section5 {
  width: 16%;
}

.form-wrapper-section.section5 {
  background-color: #f4f0f0;
}

.table-summary-wrapper {
  td,
  th {
    border-style: solid;
    border-color: #e2dcdc;
    border-width: 1px;
  }

  .quarter-selected {
    background-color: #dcdfe3;
  }

  button.btn.btn-primary {
    font-size: 12px;
    border-radius: 8px;
    font-weight: bold;
    border-color: unset;
    background-color: #4646e6;
  }
}

.table-summary-wrapper.table-policy {
  td,
  th {
    border-style: none;
  }
}

.table-summary-wrapper.table-operation-area {
  .table-summary-header {
    background-color: #ece7e7;
  }

  th {
    background-color: #91d5ff !important;
  }
}

.table-summary-wrapper.table-project-indicator {
  th {
    font-size: 12px;
  }
}

.table-summary-wrapper-right {
  margin: auto;
  width: 90%;
  margin-top: 36px;
}

.table-summary-header {
  text-align: center;
  background-color: #91d5ff;
  padding-top: 11px;
  padding-bottom: 11px;
}

.table-summary-content > table {
  width: 100%;
}

.table-summary-content > table > thead {
  background-color: #d9f2cd;
}

.table-summary-content.table-right-section > table > thead {
  background-color: #90bcd1;
}

.table-summary-content > table > tbody {
  background-color: #f0f0f0 !important;
}

.summary-monthly {
  background-color: #dedeff;
  color: blue;
}

.summary-result {
  margin-left: 35px;
  margin-right: 41px;
}

.activity-list-table {
  th {
    background-color: #fda64e !important;
    font-size: 13px;
    text-align: center !important;
    vertical-align: middle;
  }

  td {
    vertical-align: middle;
    text-align: center;
  }

  i {
    cursor: pointer;
    color: blue;
  }
}

.table-summary-wrapper.activities {
  th {
    background-color: #fda64e !important;
  }
}

.table-summary-header.activities {
  background-color: #f0ecec;
}

.add-worth-act-button {
  background-color: #91d5ff !important;
  color: rgb(71, 71, 71);
  border-style: solid;
  border-color: white !important;
}

.add-worth-act-button:hover {
  background-color: #91d5ff !important;
  color: rgb(71, 71, 71);
  border-style: solid;
  border-color: white !important;
}

.dropdown-menu.show {
  height: 300px;
  width: 617px;
  overflow-y: scroll;
}

.dropdown-search-table {
  background-color: white;
  position: absolute;
  min-width: 339px;
  border-style: solid;
  border-width: 1px;
  border-color: #d5d3d3;
  height: 178px;
  overflow: scroll;
  z-index: 2;
}

.dropdown-search-selection {
  cursor: pointer;
  padding: 6px 1px 8px 17px;
}

.dropdown-search-selection:hover {
  background-color: #e7e3e3;
}

.table {
  min-width: none;
  margin-top: 20px;
}

.table > thead > tr > th > .process{
  width: 400px;
}

.table > tbody > tr > th > .name-project{
  width: 350px;
}

.table > tbody > tr > th > .sub-process-project {
  width: 130px;
}

.table > tbody > tr > th > .process-project{
  width: 200px;
}

.table > tbody > tr > th > .detail-money {
  width: 100px;
}

.table > tbody > tr > th > .detail{
  font-weight: normal;
}

.table > tbody > tr > th > .year-quarter {
  width: 100px;
}

.table > tbody > tr > th > .project-area {
  width: 220px;
}

.table > tbody > tr > th > .responsible-person {
  width: 150px;
}

.table > tbody > tr > th > .planNproject {
  width: 380px;
}

.table > tbody > tr > th > .indicator {
  width: 380px;
}

.table > tbody > tr > th > .indicators {
  width: 300px;
}

.table > tbody > tr > th > .indicators-number {
  width: 80px;
}

.table > tbody > tr > th > .overall-strategy {
  width: 380px;
}

.table > tbody > tr > th > .overall-strategy > .overall-strategys {
  width: 120px;
}

.table > tbody > tr > th > .overall-strategy > .overall-sub-strategys {
  width: 260px;
}

.table > tbody > tr > th > .wd-25 {
  min-width: 25px;
}

.table > tbody > tr > th > .wd-50 {
  min-width: 50px;
}

.table > tbody > tr > th > .wd-30 {
  min-width: 30px;
}

.table > tbody > tr > th > .wd-200 {
  min-width: 200px;
}

.table > tbody > tr > th > .wd-260 {
  min-width: 260px;
}

.table > tbody > tr > th > .wd-300 {
  min-width: 300px;
}

.table > tbody > tr > th > .wd-100 {
  min-width: 100px;
}

.table > tbody > tr > th > .wd-120 {
  min-width: 120px;
}

.table > tbody > tr > th > .wd-140 {
  min-width: 140px;
}

.table > tbody > tr > th > .wd-160 {
  min-width: 160px;
}

.table > tbody > tr > th > .wd-180 {
  min-width: 180px;
}

.table > tbody > tr > th > .bg-1 {
  background: #000;
}


.normalText {
  font-weight: normal;
}

.fz-14 {
  font-size: 14px;
}

.pr-2 {
  padding-right: 10px;
}
