.content-body-wrapper {
  min-height: 300px;
  float: right;
  width: 77%;
  padding-right: 65px;
}

.filter-project-header {
  background-color: #91d5ff;
  margin-bottom: 24px;
  margin-left: -18px;
  margin-right: -18px;
  margin-top: -18px;
  padding: 13px;
  padding-left: 20px;
  color: black;
  padding-top: 18px;
}

.filter-project-header h4 {
  font-size: 17px;
}

.filter-project-wrapper {
  background-color: #f6f6f9;
  margin-top: 20px;
  min-height: 100px;
  padding: 20px;
}

.filter-project-button {
  margin-bottom: 17px;
}

.form-left-section {
  width: 50%;
}

.form-right-section {
  width: 50%;
}

.form-left-section-label {
  width: 25%;
  margin-bottom: 40px;
}

.form-left-section-field {
  width: 70%;
}

.form-right-section-label {
  text-align: right;
  width: 25%;
  padding: 10px;
}

.puchasing-separate {
  padding-top: 10px;
}

.btn-tab-zone {
  background-color: #0050b3;
  border-radius: 5px;
  font-size: 14px;
}

.btn-tab-zone2 {
  font-size: 13px;
  background-color: white;
  color: #0050b3;
  border-color: #0050b3;
  border-radius: 7px;
}

.table-wrapper {
  margin-top: 21px;
}

td {
  background-color: #f6f6f9 !important;
  text-align: center;
  vertical-align: middle;
}

.pagination-status {
  position: relative;
  top: 6px;
}

.bi-pencil-square {
  color: #0050b3;
  cursor: pointer;
}

table.table.policy-table > tbody > tr > td {
  text-align: left !important;
}
