body {
    background-color: #a49f9f21;
  }
  
  .content-body-wrapper {
    min-height: 300px;
    float: right;
    width: 77%;
    padding-right: 65px;
  }
  
  .filter-project-header {
    background-color: #1890ff;
    margin-bottom: 24px;
    margin-left: -18px;
    margin-right: -18px;
    margin-top: -18px;
    padding: 13px;
    padding-left: 20px;
    color: #4f5153;
  }
  
  .filter-project-header h4 {
    font-size: 17px;
  }
  
  .filter-project-wrapper {
    background-color: #f6f6f9;
    margin-top: 20px;
    min-height: 100px;
    padding: 20px;
  }
  
  .filter-project-button {
    margin-bottom: 10px;
  }
  
  .form-left-section {
    width: 50%;
  }
  
  .form-right-section {
    width: 50%;
  }
  
  .form-left-section-label {
    width: 25%;
    margin-bottom: 40px;
  }
  
  .form-left-section-field {
    width: 70%;
  }
  
  .form-right-section-label {
    width: 25%;
  }
  
  .puchasing-separate {
    padding-top: 10px;
  }
  
  .btn-tab-zone {
    background-color: #0050b3;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .btn-tab-zone2 {
    font-size: 13px;
    background-color: white;
    color: #0050b3;
    border-color: #0050b3;
    border-radius: 7px;
  }
  
  .table-wrapper {
    margin-top: 21px;
  }
  
  td {
    background-color: #f6f6f9 !important;
  }
  
  .pagination-status {
    position: relative;
    top: 6px;
  }
  
  .flow-section-zone {
    width: 114px;
  }
  
  .flow-indicator-wrapper {
    margin-top: 24px;
    margin-bottom: 3px;
  }
  
  .circle {
    border-radius: 50%;
    width: 42px;
    height: 42px;
    padding: 10px;
    background: #e3e4e4;
    color: #666687;
    text-align: center;
    font-weight: bold !important;
    font: 17px Arial, sans-serif;
    margin: auto;
    padding-top: 10px;
    cursor: pointer;
  }
  
  .circle.active {
    background: #1967b2;
    color: #ffff;
  }
  
  .section-zone-text {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
  
  .flow-line-zone {
    min-width: 100px;
    border-width: 15px !important;
    margin-left: -27px;
    margin-right: -27px;
  }
  
  .flow-line-zone > hr {
    border-width: 3px;
  }
  
  .form-wrapper-section {
    width: 100%;
    background-color: white;
    min-height: 300px;
    margin-top: 22px;
    margin-bottom: 30px;
    padding: 23px;
  }
  
  .form-field-label {
    width: 16%;
    text-align: right;
    margin-right: 20px;
  }
  
  .form-field-fieldzone {
    width: 70%;
  }
  
  .form-group {
    margin-top: 20px;
  }
  
  .button-section > button {
    float: right;
    margin-top: 24px;
    border-style: solid;
    border-color: #0050b3;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-size: 14px;
  }
  
  .text-area-control {
    color: #c9c2c2;
    font-size: 14px;
    margin-top: 4px;
  }
  
  .button-section {
    position: relative;
    right: 11%;
  
    button.btn.btn-primary {
      margin-right: 9px;
    }
  }
  
  .last-updatedfield {
    color: #bfbebe;
    text-align: right;
  }
  
  .form-field-fieldzone.section5 {
    width: 16%;
  }
  
  .form-wrapper-section.section5 {
    background-color: #f4f0f0;
  }
  
  .table-summary-wrapper {
    td,
    th {
      border-style: solid;
      border-color: #e2dcdc;
      border-width: 1px;
    }
  
    .quarter-selected {
      background-color: #dcdfe3;
    }
  
    button.btn.btn-primary {
      font-size: 12px;
      border-radius: 8px;
      font-weight: bold;
      border-color: unset;
      background-color: #4646e6;
    }
  }
  
  .table-summary-wrapper.table-policy {
    td,
    th {
      border-style: none;
    }
  }
  
  .table-summary-wrapper.table-operation-area {
    .table-summary-header {
      background-color: #ece7e7;
    }
  
    th {
      background-color: #91d5ff !important;
    }
  }
  
  .table-summary-wrapper.table-project-indicator {
    th {
      font-size: 12px;
    }
  }
  
  .table-summary-wrapper-right {
    margin: auto;
    width: 90%;
    margin-top: 36px;
  }
  
  .table-summary-header {
    text-align: center;
    background-color: #91d5ff;
    padding-top: 11px;
    padding-bottom: 11px;
  }
  
  .table-summary-content > table {
    width: 100%;
  }
  
  .table-summary-content > table > thead {
    background-color: #d9f2cd;
  }
  
  .table-summary-content.table-right-section > table > thead {
    background-color: #90bcd1;
  }
  
  .table-summary-content > table > tbody {
    background-color: #f0f0f0 !important;
  }
  
  .summary-monthly {
    background-color: #dedeff;
    color: blue;
  }
  
  .summary-result {
    margin-left: 35px;
    margin-right: 41px;
  }
  
  .activity-list-table {
    th {
      background-color: #fda64e !important;
      font-size: 13px;
      text-align: center !important;
      vertical-align: middle;
    }
  
    td {
      vertical-align: middle;
      text-align: center;
    }
  
    i {
      cursor: pointer;
      color: blue;
    }
  }
  
  .table-summary-wrapper.activities {
    th {
      background-color: #fda64e !important;
    }
  }
  
  .table-summary-header.activities {
    background-color: #f0ecec;
  }
  
  .add-worth-act-button {
    background-color: #91d5ff !important;
    color: rgb(71, 71, 71);
    border-style: solid;
    border-color: white !important;
  }
  
  .add-worth-act-button:hover {
    background-color: #91d5ff !important;
    color: rgb(71, 71, 71);
    border-style: solid;
    border-color: white !important;
  }
  
  .content-search-box {
    min-height: 60px;
  }
  
  .content-search-box > .box{
    margin-left: 10px;
  }
  
  .set{
    min-height: 100px;
    width: 100%;
  }

  .sets {
    height: auto;
    width: 100%;
  }

  .master-data {
    width: 100%;
    height: 600px;
  }

  .master-data2 {
    width: 100%;
    height: 1000px;
  }
  
  .years > .box {
    margin-right: 10px;
  }

  .colorG {
    color: #D3D3D3;
  }
  
  
  .search-wrapper-section {
    width: 100%;
    background-color: white;
    min-height: 100px;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section-info {
    width: 100%;
    background-color: white;
    min-height: 100px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .check-box {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .sub-check-box{
    padding-left: 20px;
  }
  
  .box > .filter-field {
    width: 400px;
  }
  
  
  .content-search-box > .boxs{
    margin-left: 10px;
  }
  
  .boxs > .filter-field {
    width: 200px;
  }
  
  .add-infor-box {
    background-color: #f6f6f9;
    width: 700px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  
  .sub-box {
    margin: 5px;
  }
  
  .purchase-report > .filter-field {
    width: 200px;
    margin-left: 10px;
  }
  
  .filter-field-index {
    width: 500px;
    margin-left: 10px;
  }
  
  .add-action-box > .filter-field{
    margin-left: 10px;
    width: 700px;
  }
  
  .add-action-space {
    min-width: 0px;
    margin-left: auto;
    margin-right: auto;
  }

  .table-container {
    overflow-y: auto;
    overflow-x: auto;
  }

  .icon-button {
    border: none;
    background-color: unset;
  }

  .none-bd {
    border-left: none; 
    border-right: none;
  }

  .table > thead > tr > th {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgb(0, 0, 0, 0.3);
  }

  .table > tbody > tr > th {
    border-left: 1px solid rgba(0, 0, 0, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  .table > thead > tr > th > .process{
    width: 400px;
  }
  
  .table > tbody > tr > th > .name-project{
    width: 350px;
  }
  
  .table > tbody > tr > th > .sub-process-project {
    width: 130px;
  }
  
  .table > tbody > tr > th > .process-project{
    width: 200px;
  }
  
  .table > tbody > tr > th > .detail-money {
    width: 100px;
  }
  
  .table > tbody > tr > th > .detail{
    font-weight: normal;
  }
  
  .table > tbody > tr > th > .year-quarter {
    width: 100px;
  }
  
  .table > tbody > tr > th > .project-area {
    width: 220px;
  }
  
  .table > tbody > tr > th > .responsible-person {
    width: 150px;
  }
  
  .table > tbody > tr > th > .planNproject {
    width: 380px;
  }
  
  .table > tbody > tr > th > .indicator {
    width: 380px;
  }
  
  .table > tbody > tr > th > .indicators {
    width: 300px;
  }
  
  .table > tbody > tr > th > .indicators-number {
    width: 80px;
  }
  
  .table > tbody > tr > th > .overall-strategy {
    width: 380px;
  }
  
  .table > tbody > tr > th > .overall-strategy > .overall-strategys {
    width: 120px;
  }
  
  .table > tbody > tr > th > .overall-strategy > .overall-sub-strategys {
    width: 260px;
  }

  .table > thead > tr {
    position: sticky;
    top: 0;
  }
  
  .wd-25 {
    min-width: 25px;
  }
  
  .wd-30 {
    min-width: 30px;
  }
  
  .wd-50 {
    min-width: 50px;
  }

  .wd-80 {
    min-width: 80px;
  }

  .wd-100 {
    min-width: 100px;
  }
  
  .wd-110 {
    min-width: 100px;
  }

  .wd-120 {
    min-width: 120px;
  }

  .wd-125 {
    min-width: 125px;
  }

  .wd-130 {
    min-width: 130px;
  }

  .wd-140 {
    min-width: 140px;
  }
  
  .wd-160 {
    min-width: 160px;
  }
  
  .wd-180 {
    min-width: 180px;
  }

  .wd-200 {
    min-width: 200px;
  }

  .wd-200px {
    width: 200px
  }
  
  .wd-250 {
    min-width: 250px;
  }

  .wd-260 {
    min-width: 260px;
  }
  
  .wd-300 {
    min-width: 300px;
  }

  .wd-350 {
    min-width: 350px;
  }
  
  .wd-400 {
    min-width: 400px;
  }

  .wd-450 {
    min-width: 450px;
  }

  .wd-480 {
    min-width: 480px;
  }

  .wd-500 {
    min-width: 500px;
  }

  .wd-600 {
    min-width: 600px;
  }

  .wd-700 {
    min-width: 700px;
  }
  
  .wd-800 {
    min-width: 800px;
  }

  .wd-1050 {
    min-width: 1050px;
  }
  
  
  
  .table > tbody > tr > th > .bg-1 {
    background: #000;
  }

  .table > tbody > tr > th > .filter-field-3 {
    min-width: 50px;
  }
  
  .bg-color-cyn {
    background-color: #91d5ff;
  }
  
  .normalText {
    font-weight: normal;
  }
  
  .fz-14 {
    font-size: 14px;
  }

  .fz-32 {
    font-size: 32px;
  }
  
  .filter-field-search {
    min-width: 200px;
  }

  .filter-field-4 {
    width: 250px;
  }
  
  .pie-chart-box > .filter-field {
    width: 400px;
  }
  
  .pie-chart {
    min-width: 480px;
    min-height: 480px;
  }
  
  .bar-chart-quarter {
    min-width: 400px;
  }
  
  .bar-chart-month {
    min-width: 800px;
  }
  
  .wdth-200 {
    min-width: 200px;
  }

  .wdth-700 {
    width: 700px;
  }

  .bar-chart-method {
    min-width: 800px;
  }

  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-height: 80vh; /* Set maximum height for the pop-up */
    overflow-y: auto; /* Enable vertical scrolling */
  }
  
  .popup.open {
    display: block;
  }
  
  .popup-content {
    min-width: 00px;
    margin: 0 auto;
  }
  
  .close-button {
    background-color: blue;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .colorR {
    color: red;
  }
  
  .bt-border {
    border-bottom: #000;
  }

